<% content_for :page_title, "Bien Reviews - The best restaurants in the world" %>

<% @reviews.each do |review| %>

  <div class="review">
    <%= link_to review.title, review_path(review) %>
  </div>

<% end %>
